<ion-view view-title="Laboru">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar no-background">
                <img src="img/person-icon.png">
                <h2> {{contactName()}} </h2>
                <p ng-show="contactMobile()">
                    <i class="icon ion-ios-telephone-outline"></i>
                    <a href="#" class="subdued">{{contactMobile() | phonenumber}}</a>
                </p>
             </div>

            <div class="item" ng-show="contactBio() && contactBio().length > 0">
                <p>
                    {{contactBio()}}
                </p>
            </div>

            <div class="item" ng-show="recommendations && recommendations.length > 0">
                <p>
                    Ha sido recomendado para <span class="skill">{{selectedSkill.Name}}</span> por estos amigos tuyos: <br /><br />
                    <span ng-repeat="r in recommendations">{{r.Name}} <br /></span>
                </p>
            </div>

            <div class="item item-divider no-background">
                Todas las habilidades
            </div>

            <div class="item item-icon-right" ng-repeat="skill in contactSkills()" ng-show="contactSkills() && contactSkills().length > 0">
                <span class="skill">{{skill.Name}}</span>
                <i class="icon ion-ios-heart-outline">{{skill.Recommendations}}</i>
            </div>

            <div class="item item-icon-left" ng-show="contactEmail()">
                <i class="icon ion-ios-email-outline"></i>
                <p>
                    <a href="#" class="subdued">andres@laboru.co</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left no-background">
                <a class="tab-item no-background" ng-click="gotoRecommend()">
                    <i class="icon ion-ios-heart-outline"></i>
                    Recomendar
                </a>
                <!--
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-personadd-outline"></i>
                    Adicionar a Contactos
                </a>
                -->
            </div>

        </div>
    </ion-content>
</ion-view>

