<ion-view view-title="Laboru">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input ng-model="model.name" type="text" placeholder="First Name" >
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="search()">
            Search for Contacts
        </button>
        <ion-list>
            <div class="list">
                <label class="item item-icon-right" ng-repeat="contact in results" ng-click="viewContact($index)">
                    <h2>{{contact.displayName}}</h2>
                    <i class="icon ion-chevron-right"></i>
                </label>
                <div class="item item-divider">
                    Already Experts
                </div>
                <label class="item item-icon-right" ng-click="viewContact(0)">
                    <h2>Andrew Talansky</h2>
                    <p><span class="skill">Climber</span></p>
                    <i class="icon ion-chevron-right"></i>
                </label>
            </div>
        </ion-list>
    </ion-content>
</ion-view>