<ion-view view-title="Laboru">

    <ion-content>
        <ion-list>
            <div class="list">
                <a class="item no-background">
                    <h2>Habilidades de {{ selectedContact.Name }}</h2>
                </a>
            </div>
            <ul class="list">

                <li class="item item-checkbox" ng-repeat="skill in selectedContact.Skills">
                    <label class="checkbox">
                        <input type="checkbox" ng-checked="skillRecommended(skill.ID)" ng-click="recommend(skill.ID, this.checked)">
                    </label>
                    {{skill.Name}}
                </li>
             </ul>
        </ion-list>

        <button class="button button-block button-positive" ng-click="search()">
            Adicionar Habilidad
        </button>

    </ion-content>
</ion-view>