<ion-view view-title="Contact">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="../img/person-icon.png">
                <h2> {{contactName()}} </h2>
                <p>Pro Writer Since 2003</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/writing.jpg">
                <p>
                    {{contactName()}}, writer based in California.
                    I have a passion for uncovering unique and compelling ways that people are using a
                    product, service, or site and revel in knowing that I can help thousands of people tell their story.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>

