<ion-view view-title="Laboru">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/person-icon.png">
                <h2> {{contactName()}} </h2>
                <p><span class="skill">Pro Writer Since 2003 (20)</span><!-- <img src="img/badge.png" /> --></p>
                <p><span class="skill">Climber (54)</span>  </p>
            </div>

            <div class="item">
                <p>
                    {{contactBio()}}
                </p>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios-email-outline"></i>
                <p>
                    <a href="#" class="subdued">andres@laboru.co</a>
                </p>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                <p>
                    <a href="#" class="subdued">3004802277</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/menu/tabs/contact-recommendation">
                    <i class="icon ion-ios-heart-outline"></i>
                    Recomendar
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-personadd-outline"></i>
                    Adicionar a Contactos
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>

