<ion-view view-title="Experts">
    <ion-content>
        <ion-list>
            <p class="padding">Please enter the Skills</p>
            <div class="list">
                <label class="item item-input">
                    <input ng-model="model.name" type="text" placeholder="Skill Name" >
                </label>
            </div>
            <div class="list">
                <label class="item item-icon-right">
                    <h2>Climber</h2>
                    <i class="icon ion-ios-close-empty"></i>
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="search()">
                Search for Experts
            </button>

            <div class="list">
                <label class="item item-icon-left" ng-click="viewContact('Andrew Talansky')">
                    <i class="icon ion-android-bicycle"></i>
                    <h2>Andrew Talansky <img src="img/badge.png" /> <img src="img/badge.png" /></h2>
                    <p>
                        <span class="skill">Sprinter</span>
                    </p>
                    <div class="list special-list" style="padding-left:15px;">
                        <p >Suggested by: <br />
                            <a class="item item-icon-left" >
                                <i class="icon ion-ios-flag-outline"></i>
                                Peter Sagan
                            </a>
                            <a class="item item-icon-left" >
                                <i class="icon ion-ios-flag-outline"></i>
                                Mark Cavendish
                            </a>
                        </p>
                    </div>
                </label>
                <label class="item">
                    Chris Froome
                    <p>
                        <span class="skill">Climber</span>
                    </p>

                    <div class="list special-list" style="padding-left:15px;">
                        <p >None of your friends has worked with him
                        </p>
                    </div>
                </label>
                <label class="item">
                    Alejandro Valverde <img src="img/badge.png" /> <img src="img/badge.png" /> <img src="img/badge.png" /> <img src="img/badge.png" /><img src="img/badge.png" />
                    <p>
                        <span class="skill">Sprinter</span>
                        <span class="skill">Climber</span>
                    </p>
                    <div class="list special-list" style="padding-left:15px;">
                        <p >None of your friends has worked with him
                        </p>
                    </div>
                </label>
            </div>
        </ion-list>
    </ion-content>
</ion-view>