<ion-view view-title="Laboru">

    <ion-header-bar class="bar-subheader item-input-inset">

        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="{{getLocalizedText('skill')}}" ng-change="searchSkill()" ng-model="data.search">
        </label>
        <button class="button button-clear" ng-click="clear()">
            {{getLocalizedText('clear')}}
        </button>
    </ion-header-bar>

    <ion-content>

        <div class="list" ng-show="selectedSkills && selectedSkills.length > 0">
            <label ng-repeat="skill in selectedSkills" class="item item-icon-right positive no-background" ng-click="removeSkill($index)">
                {{skill.Name}}
                <i class="icon ion-ios-close-empty" ></i>
            </label>
        </div>

        <div class="list" ng-show="filteredSkills && filteredSkills.length > 0">
            <label ng-repeat="skill in filteredSkills" class="item" ng-click="selectSkill(skill)">
                {{skill.Name}}
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="searchExperts()" ng-show="false">
            {{ getLocalizedText('search') }}
        </button>

        <p class="padding" ng-show="showExperts && experts.length == 0">
            No se han encontrado resultados para {{selectedSkills[0].Name}}
        </p>

        <div class="list" ng-show="showExperts">
            <label ng-repeat="expert in experts" class="item item-icon-right" ng-click="viewContact($index)">
                {{expert.Name}} <span ng-show="isThisMe(expert.ID)">(Tú)</span>
                <p>
                    <span class="skill">{{selectedSkills[0].Name}}</span>
                </p>

                <div class="list special-list" style="padding-left:15px;">
                    <p ng-show="!expert.FriendsRecommendations || expert.FriendsRecommendations == 0">
                        Ningún amigo lo ha recomendado
                    </p>
                    <p ng-show="expert.FriendsRecommendations && expert.FriendsRecommendations > 0">
                        {{expert.FriendsRecommendations}} de {{expert.Recommendations}} son recomendaciones de amigos<br />
                    </p>
                </div>
                <i class="icon ion-ios-heart-outline">{{expert.Recommendations}}</i>
            </label>

        </div>



    </ion-content>
</ion-view>