<ion-view view-title="Laboru">

    <ion-header-bar class="bar-subheader item-input-inset">

        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="txtSearch" type="search"  placeholder="Ingresa categoría, eg: Ciclismo" ng-change="searchSkill()" ng-model="data.search">
        </label>
        <button class="button button-clear" ng-click="clear()">
            {{getLocalizedText('clear')}}
        </button>
    </ion-header-bar>

    <ion-content>

        <!-- Selected Skills -->
        <div class="list filter" ng-show="selectedSkills && selectedSkills.length > 0">
            <label ng-repeat="skill in selectedSkills" class="item item-icon-right positive no-background" ng-click="removeSkill($index)">
                {{skill.Name}}
                <i class="icon ion-ios-close-empty" ></i>
            </label>
        </div>

        <!-- List of Skills of Search Result -->
        <div class="list filter" ng-show="filteredSkills && filteredSkills.length > 0">
            <label ng-repeat="skill in filteredSkills" class="item" ng-click="selectSkill(skill)">
                {{skill.Name}}
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="searchExperts()" ng-show="false">
            {{ getLocalizedText('search') }}
        </button>

        <div class="list">
            <label class="item no-background text-description" ng-show="showExperts && experts.length == 0">
                No se han encontrado resultados para {{selectedSkills[0].Name}}
            </label>
        </div>


        <!-- List of All Skills -->
        <div class="row" ng-show="!(filteredSkills && filteredSkills.length > 0) && !experts.length > 0 && !selectedSkills.length > 0">
            <div class="col col-50 main-category" ng-click="filterByParent('Niñ')">
                <img src="img/category-nanny.jpg" width="95%">
                Niñeras
            </div>
            <div class="col col-50 main-category" ng-click="filterByParent('Instructor')">
                <img src="img/category-coaches.png" width="95%">
                Instructores
            </div>
        </div>

        <div class="list filter" ng-show="!(filteredSkills && filteredSkills.length > 0)  && !experts.length > 0 && !selectedSkills.length > 0">
            <label ng-repeat="skill in parentSkills" class="item item-icon-right" ng-click="filterByParent(skill)">
                {{skill}}
                <i class="icon ion-ios-arrow-right"></i>
            </label>
        </div>

        <!-- List of Experts -->
        <div class="list" ng-show="showExperts">
            <label ng-repeat="expert in experts" class="item item-icon-right positive" ng-click="viewContact($index)" >
                <img ng-if="$index == 0" ng-show="false" src="img/verified.png">
                <img ng-if="$index > 0" ng-show="false" src="img/untrusted.png">
                {{expert.Name}} <span ng-show="isThisMe(expert.ID)">(Tú)</span>
                <div class="list special-list">
                    <p ng-show="expert.FriendsRecommendations && expert.FriendsRecommendations > 0">
                        {{expert.FriendsRecommendations}} de {{expert.Recommendations}} son recomendaciones de amigos<br />
                    </p>
                    <p ng-show="!(expert.FriendsRecommendations && expert.FriendsRecommendations > 0)">
                        Ninguno de tus amigos lo ha recomendado<br />
                    </p>
                </div>
                <i class="icon ion-ios-heart-outline">{{expert.Recommendations}}</i>
            </label>

        </div>

    </ion-content>

    <div class="bar bar-footer" ng-show="false">
        <div class="row">
            <div class="col">
                <img src="img/verified.png">
            </div>
            <div class="col text-description">
                Identidad verificada
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="img/untrusted.png">
            </div>
            <div class="col text-description">
                Identidad sin verificar
            </div>
        </div>
    </div>
</ion-view>