<ion-view view-title="Laboru">
    <ion-content>
        <ion-list>
            <div class="list">
                <label class="item item-icon-left assertive" ng-click="gotoProfile()" ng-show="showProfile()">
                    <i class="icon ion-ios-information-outline"></i>
                    {{ getLocalizedText('setupProfile') }}
                </label>

                <label class="item item-thumbnail-left positive" >
                    <!--  <i class="icon ion-ios-lightbulb-outline"></i> -->
                    <img src="img/help.png">
                    <h2>¿Qué es Laboru?</h2>
                    <p>
                        Somos es una Red de xPers (Expertos) basada en recomendaciones digitales, enlazando a quienes necesitan una labor con quienes lo ofrecen.
                    </p>
                </label>

                <label class="item item-thumbnail-left positive item-icon-right" >
                    <img src="img/plus.png">
                    <h2>Entrenamiento en Ciclismo hasta Marzo</h2>
                    <p>Se requiere un entrenador personalizado para ayudarme a competir en el ...</p>
                    <p class="published-time">Hace 3 horas</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </label>

                <label class="item item-thumbnail-left positive item-icon-right" >
                    <img src="img/plus.png">
                    <h2>Mejora Fitness </h2>
                    <p>Necesito un entrenador que me ayude a mejorar el volumen de mis brazos y espalda...</p>
                    <p>$150.000 / mes</p>
                    <p class="published-time">Ayer</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </label>

                <label class="item item-thumbnail-left positive" >
                    <img src="img/heart.png">
                    <h2>Juan Carlos Arango te ha recomendado</h2>
                    <p>Has sido recomendado para Deportes/Instructor de ciclismo</p>
                    <p class="published-time">Marzo 1</p>
                </label>

                <label class="item item-thumbnail-left positive" >
                    <img src="img/heart.png">
                    <h2>Tatiana Isaza te ha recomendado</h2>
                    <p>Has sido recomendado para Deportes/Instructor Fitness</p>
                    <p class="published-time">Febrero 28</p>
                </label>

            </div>
        </ion-list>
    </ion-content>
</ion-view>