<ion-view view-title="News">
    <ion-content>
        <ion-list>
            <div class="list">
                <label class="item item-icon-left">
                    <i class="icon ion-ios-information-outline"></i>
                    Setup your Profile
                </label>
                <label class="item item-icon-left">
                    <i class="icon ion-ios-information-outline"></i>
                    Set your Contacts as Experts
                </label>
                <label class="item item-icon-left">
                    <i class="icon ion-ios-information-outline"></i>
                    Find Experts
                </label>
            </div>
        </ion-list>
    </ion-content>
</ion-view>