<ion-view view-title="Laboru">
    <ion-content>
        <div class="list">

            <div class="item item-divider no-background smaller-divider">
                <h2>Entrenamiento en Ciclismo hasta Mayo</h2>
            </div>

            <div class="item">
                <p>Se requiere un entrenador personalizado para ayudarme a competir en el circuito departamental de Boyac&abreve;.
                    Si puedo figurar entre los primeros 10 el entrenador recibirá un bono adicional de $500.000</p>
                <p>
                    Por favor enviar con la aspiración mensual y una breve explicación de la forma de trabajo.
                </p>
            </div>

            <div class="item">
                <p>
                    5 xPers han aplicado a esta oferta
                </p>
                <p>
                    Publicado hace 3 horas.
                </p>
            </div>

            <button class="button button-block button-positive" ng-click="continue()">
                Aplicar
            </button>

            <div class="item no-background">
                <h2> Publicado por: Juan Santiago Posada </h2>
                <p>
                    Ha publicado 10 ofertas.
                </p>
                <p>
                    Miembro desde Marzo 1 de 2016
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>

