<ion-view view-title="Mobile">
    <div class="bar bar-header bar-light">
        <h1 class="title">Laboru</h1>
    </div>
    <ion-content class="padding extra-top-padding">

        <div class="list card">

            <div class="item no-background">
                <h2>Paso 2 de 2 de xPer</h2>
                <p>Selecciona las categorías en las cuales puedes desempeñarte</p>
            </div>
        </div>

        <ion-list>

            <div ng-repeat="skill in parentSkills" class="item inverted">
                <div ng-click="showChildren(skill)">
                    {{skill}} <img src="img/down.png" style="width: 24px; vertical-align: bottom" ng-show="!showThis(skill)"> <img src="img/up.png" style="width: 24px; vertical-align: bottom" ng-show="showThis(skill)">
                </div>
                <ion-checkbox ng-repeat="childSkill in getChildSkills(skill)" ng-show="showThis(skill)" class="no-background" >
                    {{childSkill.Name}}
                </ion-checkbox>
            </div>

        </ion-list>

        <div class="list">

            <div class="item item-icon-left no-background assertive" style="color: #D91C5E">
                <i class="icon ion-ios-information-outline"></i>
                <p style="color: #D91C5E">
                    Estas categorías se usan para que quienes desean contratar tus servicios te pueden encontrar fácilmente.<br />
                    Puede ser modificada en cualquier momento a través del menú que se encuentra en la parte superior izquiera de nuestra App.
                </p>
            </div>

            <div class="item no-background">
                &nbsp;
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()">
            {{ getLocalizedText('continue') }}
        </button>
    </div>
</ion-view>