<ion-view view-title="Account">
    <div class="bar bar-header bar-light">
        <h1 class="title">Laboru</h1>
    </div>
    <ion-content class="padding extra-top-padding">

        <div class="list">

            <div class="item no-background">
                <h2>Selecciona el Tipo de Cuenta</h2>
            </div>

            <div class="item item-avatar" ng-click="selectAccount('xPer')">
                <img src="img/xper.png" >
                <h2>xPer</h2>
                <p>
                    Este tipo de cuenta te permitir&aacute; encontrar ofertas laborales.
                </p>
            </div>

            <div class="item item-avatar" ng-click="selectAccount('user')">
                <img src="img/user.png" >
                <h2>Usuario</h2>
                <p>
                    Este tipo de cuenta te permitir&aacute; encontrar xPers (expertos) que te ayuden con tus necesidades.
                </p>
            </div>

            <div class="item item-icon-left no-background assertive" style="color: #D91C5E">
                <i class="icon ion-ios-information-outline"></i>
                <p style="color: #D91C5E">Luego podrás cambiar entre tipo de cuentas, este es el tipo de cuenta que tendrás sólo para iniciar.</p>
            </div>

        </div>

    </ion-content>
</ion-view>