<ion-view view-title="Mobile">
    <ion-content class="padding">

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/laboru-icon.png">
                <h2>{{ getLocalizedText('step2') }}</h2>
                <p>{{ getLocalizedText('enterMobile') }}</p>
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                 {{model.country}} &nbsp; &nbsp; <input ng-model="model.number" type="text" placeholder="{{ getLocalizedText('mobile') }}" maxlength="10" type="number" >
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="continue()">
            {{ getLocalizedText('continue') }}
        </button>
    </ion-content>
    <div class="bar bar-footer">
        <!--  <img src="img/logo.png" > -->
    </div>
</ion-view>