<ion-view view-title="Mobile">
    <ion-content class="padding">
        <h2>Step 2 of 2</h2>
        <h3>Enter your Mobile Number</h3>
        <div class="list">
            <label class="item item-input">
                <input ng-model="model.number" type="text" placeholder="First Name" >
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="continue()">
            Continue
        </button>
    </ion-content>
    <div class="bar bar-footer">
        <img src="img/logo.png" >
    </div>
</ion-view>