<ion-view view-title="Name">
    <div class="bar bar-header bar-light">
        <h1 class="title">Laboru</h1>
    </div>
    <ion-content class="padding extra-top-padding">

        <div class="list card">

            <div class="item no-background extra-top-padding">
                <h2>{{ getLocalizedText('step2') }}</h2>
                <p>{{ getLocalizedText('enterName') }}</p>

            </div>

        </div>

        <div class="list">
            <label class="item item-input">
                <input ng-model="model.name" type="text" placeholder="Ejemplo: Marco R&iacute;os" maxlength="30" >
            </label>
        </div>

        <p class="text-description">* Tu nombre ser&aacute; usado para indicar tu actividad en nuestra Red.</p>

    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()">
            {{ getLocalizedText('continue') }}
        </button>
    </div>
</ion-view>