<ion-view view-title="Name">
    <ion-content class="padding">

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/laboru-icon.png">
                <h2>{{ getLocalizedText('step1') }}</h2>
                <p>{{ getLocalizedText('enterName') }}</p>
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <input ng-model="model.name" type="text" placeholder="{{ getLocalizedText('name') }}" >
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="continue()">
            {{ getLocalizedText('continue') }}
        </button>
    </ion-content>
    <div class="bar bar-footer">
        <!-- <img src="img/logo.png" > -->
    </div>
</ion-view>