<ion-view view-title="Name">
    <ion-content class="padding">
        <h2>{{ getLocalizedText('step1') }}</h2>
        <h3>{{ getLocalizedText('enterName') }}</h3>
        <div class="list">
            <label class="item item-input">
                <input ng-model="model.firstName" type="text" placeholder="{{ getLocalizedText('name') }}" >
            </label>
            <label class="item item-input">
                <input ng-model="model.lastName" type="text" placeholder="{{ getLocalizedText('lastName') }}" >
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="continue()">
            {{ getLocalizedText('continue') }}
        </button>
    </ion-content>
    <div class="bar bar-footer">
        <img src="img/logo.png" >
    </div>
</ion-view>