<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="{{getLocalizedText('news')}}" href="#/app/menu/tabs/news" icon-on="ion-information-circled" icon-off="ion-information-circled" class="tab-inicio">
        <ion-nav-view name="news-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Find Experts" href="#/app/menu/tabs/experts" icon-on="ion-person-stalker" icon-off="ion-person-stalker" class="tab-pedido">
        <ion-nav-view name="experts-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Experts" href="#/app/menu/tabs/contacts" icon-on="ion-person-add" icon-off="ion-person-add" class="tab-negocio" >
        <ion-nav-view name="contacts-content"></ion-nav-view>
    </ion-tab>
</ion-tabs>