<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="{{getLocalizedText('news')}}" href="#/app/menu/tabs/news" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline" class="tab-inicio news">
        <ion-nav-view name="news-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{getLocalizedText('findExperts')}}" href="#/app/menu/tabs/experts" icon-on="ion-ios-search-strong" icon-off="ion-ios-search-strong" class="tab-pedido expers">
        <ion-nav-view name="experts-content"></ion-nav-view>
    </ion-tab>
    <!--
    <ion-tab title="{{getLocalizedText('myExperts')}}" ng-show="false" href="#/app/menu/tabs/contacts" icon-on="ion-ios-people" icon-off="ion-ios-people" class="tab-negocio" >
        <ion-nav-view name="contacts-content"></ion-nav-view>
    </ion-tab>
    -->
    <ion-tab title="{{getLocalizedText('myContacts')}}" href="#/app/menu/tabs/contacts" icon-on="ion-person-add" icon-off="ion-person-add" class="tab-negocio posts" >
        <ion-nav-view name="contacts-content"></ion-nav-view>
    </ion-tab>
</ion-tabs>