<ion-view view-title="Términos y condiciones">

    <div class="bar bar-header bar-light">
        <h1 class="title">Laboru</h1>
    </div>
    <ion-content overflow-scroll="true" class="padding extra-top-padding">

        <div class="padding">
            <div class="item no-background ">
                <h2>Por favor acepta nuestros términos y condiciones.</h2>
            </div>

            <form>
                <label>
                    <textarea id="txtTexto" rows="20" class="textarea-terms" readonly="readonly" >
                        TÉRMINOS Y CONDICIONES

Versión 1.1  Junio de 2016
Esta es la aplicación Laboru. Te damos la bienvenida. Representamos una comunidad de expertos que ofrecen servicios a los usuarios. Al utilizar la aplicación Laboru, usted acepta estas condiciones. Por favor léalas cuidadosamente.

1.	PRIVACIDAD DE LA INFORMACIÓN
Los datos personales recogidos en webs/apps se deberán tratar de acuerdo con lo dispuesto en la Ley Estatutaria 1581 de 2012, y deberán ser tratados de manera confidencial. Los usuarios pueden ejercitar los derechos de oposición, acceso e información, rectificación, cancelación y revocación de su autorización a la utilización de sus datos personales. Los titulares de los datos reconocen que el suministro de sus datos personales es realizado de forma voluntaria, teniendo en cuenta la tecnología y herramientas dispuestas para tal propósito, entendiendo las facultades de uso que adquiere el portal/app de Laboru.
El presente documento expone de forma clara la política de privacidad de la aplicación de la empresa Laboru, la cual  fue creada para velar por la protección y confidencialidad de los datos de los usuarios que quedan registrados en las bases de datos y por el acceso a la aplicación.
Los usuarios menores de 18 años en Colombia y usuarios incapaces no deberán ingresar ni utilizar los servicios que prestan las aplicaciones sin el previo consentimiento de sus padres, acompañantes, tutores o curadores. Los usuarios menores de 18 años no podrán registrarse por su propia cuenta para acceder a los servicios que presta la aplicación, únicamente podrán hacerlo bajo responsabilidad y autorización de un adulto responsable, tutor o curador.
Registrarse, consultar, compartir información, hacer transacción y uso de la aplicación constituye la aceptación de los términos de uso y la política de privacidad por parte del usuario, significa que ha leído, entendido y aceptado. Si no está de acuerdo con ellos, tiene la opción de no proporcionar ninguna información personal ni de sus contactos, o no utilizar el servicio de la aplicación.
Laboru no se hace responsable por la información compartida por sus usuarios y expertos. Laboru es una plataforma que permite a usuarios y expertos crear una red de contactos para intercambiar servicios.

2.	CAPACIDAD LEGAL
Los servicios de Laboru están disponibles solo para las personas que estén en la capacidad para contratar. Quien no tenga dicha capacidad, sea menor de edad o tenga alguna sanción en nuestra plataforma, no podrá acceder a los servicios.
Si usted se inscribe como experto que ofrece servicios, deberá cumplir las condiciones definidas en el ítem 3. CONDICIONES PARA EXPERTOS.

3.	CONDICIONES PARA EXPERTOS
Para permitir que un experto se inscriba en Laboru y ofrezca servicios a los usuarios, deberá cumplir con las siguientes condiciones:
-	No tener procesos legales, penales o de otra índole en su contra
-	No tener suspensión o penalidad de parte de Laboru

4.	REGISTRO 
El usuario del sistema que se registre en la plataforma Laboru, deberá diligenciar completamente el formato de registro y la información que suministre podrá ser verificada en cualquier momento por parte de Laboru como parte de la política de calidad. El usuario se compromete a actualizar sus datos cuando estos cambien en un plazo máximo de un mes.
No es responsabilidad de Laboru la total veracidad de la información de registro y solo el usuario será responsable de todos los casos que impliquen dicha información.
Laboru se reserva el derecho de registro en la plataforma sin necesidad de informar los motivos. 
El registro es único e intransferible y no podrá ser usado por un tercero.
El usuario o experto inscrito es responsable por toda operación que se realice con su cuenta e información. En caso de uso no autorizado deberá informar a Laboru con el fin de tomar medidas preventivas en el uso de las cuentas.
El usuario o experto inscrito acepta compartir su información de contacto con su red primaria de contactos y con la red de usuarios de Laboru en general.

5.	MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES
Laboru podrá realizar modificación a los términos y condiciones sin previo aviso pero se compromete a informarlo en la aplicación en un plazo de 10 días hábiles después de su publicación y entrarán en vigencia a partir de ese momento. 
Si no hay aceptación de los términos y condiciones, el usuario o experto deberá informarlo por correo electrónico para darle de alta del sistema.
Si no se manifiesta la no aceptación de los términos y condiciones, se asume que estos son aceptados al momento de entrar en vigencia.

6.	QUEJAS Y RECLAMOS
En cumplimiento del artículo 3 de la Ley 1437/2011, en virtud del principio de buena fe, Laboru y los particulares presumirán el comportamiento leal y fiel de unos y otros en el ejercicio de sus competencias, derechos y deberes.  
Laboru dispondrá de una cuenta de correo electrónico para recibir una queja o reclamo de un usuario o experto que haga uso de la aplicación. Una vez recibida dicha queja o reclamo, Laboru dispondrá de un plazo no mayor a 15 días hábiles para dar respuesta.

7.	PAGO
El pago de los productos y servicios se realizarán directamente entre usuarios y expertos.

8.	PRECIOS
Los precios de los productos y servicios los definirá cada experto.

9.	ENTREGA DE SERVICIOS
Laboru no se hace responsable por la entrega del servicio. Laboru es únicamente una plataforma de contacto entre usuarios y expertos. 

10.	GARANTÍAS
Las garantías están sujetas a cada experto y estas deberán ser explícitas en cada servicio. 
Laboru no es responsable por las garantías que se generen ni por los daños o perjuicios que se puedan producir por algún producto o servicio adquirido.
Cuando se presente una eventualidad de garantía de producto o servicio, el comprador deberá contactar directamente al experto en cuestión, quien es el responsable de atender por el cumplimiento de la garantía.

11.	RESPONSABILIDAD DE LABORU
Laboru es una plataforma tecnológica que facilita la relación entre usuarios y expertos, por tanto, su responsabilidad se limita a crear una red de contactos. 
Laboru no es responsable de garantías, reposiciones, devoluciones, reembolsos, entrega de servicios y fraudes.

                    </textarea>
                </label>
            </form>
        </div>
        <ul class="list">
            <li class="item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="model.selected" ng-true-value="true" ng-false-value="false">
                </label> Acepto los términos y condiciones y la política de uso de datos personales
            </li>
        </ul>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()" ng-disabled="!model.selected">
            {{ getLocalizedText('continue') }}
        </button>
    </div>
</ion-view>