<ion-view view-title="Laboru">

    <ion-content>

        <ion-checkbox class="no-background" ng-show="false" >Sólo ofertas activos</ion-checkbox>

        <div ng-repeat="post in posts">
            <label class="item no-margin-bottom"  >
                <h2>{{post.Title}}</h2>
                <p>{{post.Description}}</p>
                <span class="published-time">{{ getDate(post.DateCreated) | date : 'MMMM dd'}}</span>
            </label>
            <div class="row recommend-contact item-background margin-bottom" ng-click="confirmPostDeletion(post.ID)" >
                <span class="col-50" ng-click="alert('Mensaje')" ng-if="false" >
                    <img src="img/edit.png" style="width: 20px; vertical-align: bottom">
                    Editar
                </span>
                <span class="col-50"  >
                    <img src="img/trash.png" style="width: 20px; vertical-align: bottom">
                    Eliminar
                </span>
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()">
            Nueva Oferta
        </button>
    </div>
</ion-view>