<ion-view view-title="Laboru">
    <ion-content>
        <ion-list>
            <div class="list">

                <label class="item item-thumbnail-left item-icon-right main-item" ng-click="gotoxPers()" >
                    <img src="img/user-xper.png">
                    <h2>xPers (Expertos)</h2>
                    <p>En esta sección encontrar&aacute;s los expertos que tenemos a tu disposici&oacute;n</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </label>

                <label class="item item-thumbnail-left item-icon-right main-item" ng-click="gotoPosts()" >
                    <img src="img/user-posts.png">
                    <h2>Mis Post</h2>
                    <p>Estas son las ofertas de empleo que has creado</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </label>

                <label class="item item-thumbnail-left item-icon-right main-item" ng-click="gotoContacts()" >
                    <img src="img/user-friends.png">
                    <h2>Mis Contactos</h2>
                    <p>En esta sección podr&aacute;s recomendar a tus contactos como xPers</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </label>

            </div>
        </ion-list>
    </ion-content>
</ion-view>