<ion-view view-title="Laboru">

    <ion-content>

        <ion-checkbox class="no-background" ng-show="false" >Sólo post activos</ion-checkbox>

        <label class="item" ng-repeat="post in posts" >
            <h2>{{post.Title}}</h2>
            <p>{{post.Description}}</p>
            <span class="published-time">{{ getDate(post.DateCreated) | date : 'MMMM dd'}}</span>
        </label>

        <!--
        <label class="item" >
            <h2>Mejora Fitness </h2>
            <p>Necesito un entrenador que me ayude a mejorar el volumen de mis brazos y espalda...</p>
            <p>$150.000 / mes</p>
            <span class="published-time">Ayer</span>
        </label>

        <label class="item" >
            <h2>Entrenamiento para grupo de aficionados</h2>
            <p>Somos un grupo de 5 aficionados entre los 35 y 45 años que queremos mejorar ...</p>
            <p>$300.000 / mes</p>
            <span class="published-time">Marzo 1</span>
        </label>

        <label class="item" >
            <h2>Mejorar capacidad Aer&oacute;bica</h2>
            <p>En 2 meses estaré participando en una competencia a nivel latino y quisiera ...</p>
            <span class="published-time">Febrero 28</span>
        </label>

        -->

    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()">
            Nuevo Post
        </button>
    </div>
</ion-view>