<ion-view view-title="Laboru">

    <ion-content>

        <div class="list card">

            <div class="item no-background">
                <h2>Paso 2 de 3</h2>
                <p>Ingresa el Título</p>
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <textarea ng-model="model.title" type="text" placeholder="Ejemplo: Entrenamiento en Ciclismo para aficionado" maxlength="500" rows="3" ></textarea>
            </label>

            <div class="item item-icon-left no-background assertive" style="color: #D91C5E">
                <i class="icon ion-ios-information-outline"></i>
                <p style="color: #D91C5E">
                    Un título llamativo tiene mejores posibildades de llegar a los xPers (Expertos).
                </p>
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()">
            {{ getLocalizedText('continue') }}
        </button>
    </div>
</ion-view>