<ion-view view-title="Laboru">

    <ion-header-bar class="bar-subheader item-input-inset">

        <ion-list >
            <ion-checkbox class="no-background"  >Sólo post activos</ion-checkbox>
        </ion-list>
    </ion-header-bar>

   -->
    <ion-content>

        <label class="item" ng-click="viewPost(0)" >
            <h2>Entrenamiento en Ciclismo hasta Mayo</h2>
            <p>Se requiere un entrenador personalizado para ayudarme a competir en el ...</p>
            <span class="published-time">Hace 3 horas</span>
        </label>

        <label class="item" >
            <h2>Mejora Fitness </h2>
            <p>Necesito un entrenador que me ayude a mejorar el volumen de mis brazos y espalda...</p>
            <p>$150.000 / mes</p>
            <span class="published-time">Ayer</span>
        </label>

        <label class="item" >
            <h2>Entrenamiento para grupo de aficionados</h2>
            <p>Somos un grupo de 5 aficionados entre los 35 y 45 años que queremos mejorar ...</p>
            <p>$300.000 / mes</p>
            <span class="published-time">Marzo 1</span>
        </label>

        <label class="item" >
            <h2>Mejorar capacidad Aer&oacute;bica</h2>
            <p>En 2 meses estaré participando en una competencia a nivel latino y quisiera ...</p>
            <span class="published-time">Febrero 28</span>
        </label>

    </ion-content>
</ion-view>