<ion-view view-title="Welcome!!">
    <ion-content class="padding">

        <div class="list card">

            <div class="item no-background" ng-show="showContinue()">
                <h2>{{ getLocalizedText('welcome') }} Laboru!</h2>
                <p>{{ getLocalizedText('welcomeIntro') }}</p>
            </div>

            <div class="item item-image no-background">
                <img src="img/logo-max.png" style="max-height: 236px; max-width: 171px">
            </div>

            <div class="item no-background text-center" ng-show="!showContinue()" >
                <p style="font-style: italic" >
                    "Es imposible ir por la vida sin confiar en nadie; es como estar preso en la peor de las celdas: uno mismo."
                </p>
                <p>
                    Graham Green
                </p>
                <p>
                    <br />
                    En Laboru confiamos en la recomendaci&oacute;n de nuestros amigos.
                </p>
            </div>

            <div class="item item-image no-background" ng-show="showLoading()" ng-show="!showContinue()">
                <img src="img/loading-bar-big.gif" style="max-height: 100px; max-width: 100px" />
            </div>

        </div>

    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-block button-positive" ng-click="continue()" ng-show="showContinue()">
            {{ getLocalizedText('continue') }}
        </button>
    </div>
</ion-view>