<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.laboru.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Laboru</name>
    <description>
        Encuentra los xPers que recomiendan tus amigos.
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
        Laboru
    </author>
    <content src="index.html"/>
    <access origin="*"/>

    <preference name="phonegap-version" value="3.7.0" />

    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="16"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashScreen" value="splash" />

    <gap:plugin name="com.adobe.plugins.gaplugin" />

    <icon src="icon.png" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icons/android/drawable-ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icons/android/drawable-mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icons/android/drawable-hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icons/android/drawable-xhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icons/android/drawable-xxhdpi/ic_launcher.png" />

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>

    <gap:plugin name="cordova-plugin-sms" />

    <gap:plugin name="nl.x-services.plugins.socialsharing" />

    <!-- for Android (you will find one in res/xml) -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>

    <gap:plugin name="org.apache.cordova.contacts" />

    <feature name="Contacts">
        <param name="ios-package" value="CDVContacts" />
        <param name="android-package" value="org.apache.cordova.contacts.ContactManager"/>
    </feature>

    <gap:plugin name="org.apache.cordova.globalization" />

    <feature name="Globalization">
        <param name="android-package" value="org.apache.cordova.globalization.Globalization" />
    </feature>

</widget>