.bar.bar-stable {
    border-color: #1AA69B;
    background-color: #1AA69B;
}

.bar.bar-stable .title {
    color: #FFF;
}

.bar-stable .button.button-clear {
    color: #FFF;
}

.bar-footer img {
    margin:0px auto;
    display:block;
}

.button.button-positive {
    border-color: #1AA69B;
    background-color: #1AA69B;
    color: #fff;
}

h2, h3, h4 {
    color: #4C5D64;
}

p{
    color: #4C5D64;
    font-size: 16px;
}

.item h2, .item p, .item div, .item span, .list label.item, .item-divider {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    text-align: justify;
}

.special-list{
    margin-top: 10px;
}

.special-list p, .special-list .item{
    border-width: 0px;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-align: justify !important;
}

.item p span.skill, .item span.skill{
    color: #1AA69B;
    padding: 3px;
    border-bottom: 1px solid #1AA69B;
    font-size: 12px;
}

.skill {
    color: #1AA69B;
}

.item-icon-right .icon {
    font-size: 18px;
}

.list{
    margin-bottom: 0px;
}

.positive{
    color: #1AA69B;
}

.item-divider{
    font-weight: 400;
    font-size: 15px;
    color: #1AA69B;
}

p .ion-ios-telephone-outline{
    font-size: 16px;
}


.item{
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

.card {
    box-shadow: 0px 0px 0px #fff;
    margin-top: 0px;
}

.no-background{
    background-color: #fff;
    border-color: #fff;
}

.smaller-divider{
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p.identity {
    font-size: 11px;
}

.news{
    background-color: #E3E41E;
}

.experts{
    background-color: #1AA69B;
}

.posts{
    background-color: #DC1B5E;
}