@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('fonts/HelveticaNeueLTStd-Cn.otf');
}

body{
    font-family: 'HelveticaNeueLTStd';
}

.bar.bar-stable, .bar.bar-light {
    border-color: #1AA69B;
    background-color: #1AA69B;
}

.bar.bar-stable .title, .bar.bar-light .title {
    color: #FFF;
}

.bar-stable .button.button-clear {
    color: #FFF;
}

.bar-footer img {
    margin:0px auto;
    display:block;
}

.tabs-dark > .tabs, .tabs.tabs-dark{
    background-color: #DC1B5E;
}

.button.button-positive {
    border-color: #1AA69B;
    background-color: #1AA69B;
    color: #fff;
}

.tab-item {
    max-width: 50%;
}

.filter label{
    color: #1AA69B;
}

h2, h3, h4 {
    color: #1AA69B;
}

p{
    color: #4C5D64;
    font-size: 16px;
}

a.subdued{
    color: #1AA69B;
}

.item h2, .item p, .item div, .item span, .list label.item, .item-divider {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    text-align: justify;
}

.special-list{
    margin-top: 10px;
}

.special-list p, .special-list .item{
    border-width: 0px;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-align: justify !important;
}

.item p span.skill, .item span.skill{
    color: #1AA69B;
    padding: 3px;
    border-bottom: 1px solid #FFF;
    font-size: 12px;
}

.skill {
    color: #1AA69B;
}

.item-icon-right .icon {
    font-size: 18px;
}

.list{
    margin-bottom: 0px;
}

.positive{
    color: #1AA69B;
}

.item-divider{
    font-weight: 400;
    font-size: 15px;
    color: #1AA69B !important;
}

p .ion-ios-telephone-outline{
    font-size: 16px;
}


.item{
    background-color: #FFF;
    border-color: #BDDAD8;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
    color: #1AA69B;
}

.item-divider{

}

.item p{
    color: #1AA69B;
}

.card {
    box-shadow: 0px 0px 0px #fff;
    margin-top: 0px;
}

.no-background{
    background-color: #fff;
    border-color: #fff;
}

.smaller-divider{
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p.identity {
    font-size: 11px;
}

.news{
    background-color: #DC1B5E;
}

.experts{
    background-color: #DC1B5E;
    /* border-left: solid 1px #FFF; */
}

.posts{
    background-color: #DC1B5E;
}

/*
.news{
    background-color: #E3E41E;
}

.experts{
    background-color: #1AA69B;
}

.posts{
    background-color: #DC1B5E;
}
*/

.positive{
    color: #1AA69B;
}

.green{
    color: #1AA69B;
}

.tabs-icon-top > .tabs .tab-item{
    font-size: 12px;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{
    max-width: 48px;
    max-height: 48px;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-top: 20px;
    padding-left: 75px;
    min-height: 75px;
}

.card .item {
    border-left: 1px;
    border-right: 1px;
    margin-right: 2px;
}

.inverted{
    background-color: #1AA69B;
    border-color: #BDDAD8;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 15px;
    color: #FFF;
}

.inverted p{
    color: #FFF;
}

.no-margins{
    margin-bottom: 0px;
    margin-top: 0px;
}

.bar-footer {
    height: 70px;
    padding-bottom: 0px;
}

.setup-image img{
    max-height: 236px;
    max-width: 171px;
    margin-bottom: 20px;
}

.setup-name-image img{
    max-height: 131px;
    max-width: 262px;
    margin-bottom: 20px;
}

.setup-mobile-image img{
    max-height: 218px;
    max-width: 172px;
    margin-bottom: 20px;
}

.extra-top-padding{
    padding-top: 30px;
}

.text-description{
    padding: 5px;
    font-size: 14px !important;
    color: #D91C5E
}

.published-time{
    float: right;
    font-size: 12px !important;
    color: #65B4AF !important;
}